<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.hs.s3.member.MemberDAO">
 	<select id="memberLogin" parameterType="com.hs.s3.member.MemberDTO" resultType="com.hs.s3.member.MemberDTO">
 		select * from MEMBER where id=#{id} and pw=#{pw}
 	</select>
 	<insert id="memberJoin" parameterType="com.hs.s3.member.MemberDTO">
 		insert into MEMBER values(#{id}, #{pw}, #{name}, #{phone}, #{email})
 	</insert>
 	<delete id="memberDelete" parameterType="com.hs.s3.member.MemberDTO">
 		delete from MEMBER where id=#{id}
 	</delete>
 </mapper>