<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.s3.board.notice.NoticeDAO">
	<select id="getTotalCount" parameterType="Pager"
		resultType="java.lang.Long">
		select count(num) from notice where
		<choose>
			<when test="kind=='writer'">
				writer
			</when>
			<when test="kind=='contents'">
				contents
			</when>
			<otherwise>
				title
			</otherwise>
		</choose>
		like '%' || #{search} || '%' and num>0
	</select>
	<select id="getList" parameterType="Pager"
		resultType="NoticeDTO">
		select * from (
		select rownum R, N.* from (
		select * from NOTICE where
		<choose>
			<when test="kind=='writer'">
				writer
			</when>
			<when test="kind=='contents'">
				contents
			</when>
			<otherwise>
				title
			</otherwise>
		</choose>
		<!-- <if test="kind=='writer'"> writer </if> <if test="kind=='contents'"> 
			contents </if> <if test="kind=='title'"> where </if> -->
		like '%' || #{search} || '%' and num>0 order by num desc
		) N
		)
		where R between #{startRow} and #{lastRow}
	</select>
	<select id="getSelect" parameterType="BoardDTO"
		resultMap="selectResult">
		select N.*, NF.*
		from NOTICE N left join NOTICEFILES NF
		on N.num = NF.num
		where N.num=#{num}
	</select>
	<resultMap type="NoticeDTO" id="selectResult">
		<id property="num" column="num"/>
		<result property="title" column="title"/>
		<result property="writer" column="writer"/>
		<result property="regDate" column="regDate"/>
		<result property="hit" column="hit"/>
		<result property="contents" column="contents"/>
		<collection property="noticeFiles" javaType="java.util.List" ofType="BoardFileDTO">
			<id property="fileNum" column="fileNum"/>
			<result property="fileName" column="fileName"/>
			<result property="originName" column="originName"/>
		</collection>
	</resultMap>
	
	
	<insert id="setInsert" parameterType="BoardDTO">
		insert into NOTICE
		values(#{num}, #{title}, #{writer}, sysdate, 0,
		#{contents})
	</insert>

	<select id="getNum" resultType="java.lang.Long">
		select notice_seq.nextval from
		dual
	</select>

	<insert id="setFileInsert" parameterType="BoardFileDTO">
		insert into NOTICEFILES
		values(file_seq.nextval, #{num}, #{fileName}, #{originName})
	</insert>
	<delete id="setDelete" parameterType="BoardDTO">
		delete from NOTICE where
		num=#{num}
	</delete>
	<update id="setUpdate" parameterType="BoardDTO">
		update NOTICE set
		title=#{title}, writer=#{writer}, contents=#{contents} where
		num=#{num}
	</update>
	<update id="setHitUpdate" parameterType="BoardDTO">
		update NOTICE set
		hit=#{hit}+1 where num=#{num}
	</update>
</mapper>