<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.hs.s3.board.qna.QnaDAO">
 	<select id="getList" parameterType="Pager" resultType="QnaDTO">
 		select * from
 		(select rownum R, Q.* from
 			(select * from QNA where
				<choose>
					<when test="kind=='writer'">
						writer
					</when>
					<when test="kind=='contents'">
						contents
					</when>
					<otherwise>
						title
					</otherwise>
				</choose>
				 like '%' || #{search} || '%' and num>0order by ref desc, step asc) Q)
 		where R between #{startRow} and #{lastRow}
 	</select>
 	<select id="getTotalCount" resultType="java.lang.Long">
 		select count(num) from QNA where
		<choose>
			<when test="kind=='writer'">
				writer
			</when>
			<when test="kind=='contents'">
				contents
			</when>
			<otherwise>
				title
			</otherwise>
		</choose>
		like '%' || #{search} || '%' and num>0
 	</select>
 	<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
 		select * from QNA where num=#{num}
 	</select>
 	<update id="setHitUpdate" parameterType="BoardDTO">
 		update QNA set hit=hit+1 where num=#{num}
 	</update>
 	<insert id="setInsert" parameterType="BoardDTO">
 		insert into QNA
 		values(qna_seq.nextval, #{title}, #{writer}, sysdate, 0, #{contents}, qna_seq.currval, 0, 0)
 	</insert>
 	<update id="setReplyUpdate" parameterType="QnaDTO">
 		update QNA set step=step+1 where ref=#{ref} and step>#{step}
 	</update>
 	<insert id="setReply" parameterType="QnaDTO">
 		insert into QNA
 		values(qna_seq.nextval, #{title}, #{writer}, sysdate, 0, #{contents}, #{ref}, #{step}, #{depth})
 	</insert>
 	<delete id="setDelete" parameterType="BoardDTO">
 		delete from QNA where num=#{num}
 	</delete>
 	<update id="setUpdate" parameterType="BoardDTO">
 		update QNA set title=#{title}, writer=#{writer}, contents=#{contents} where num=#{num}
 	</update>
 </mapper>